.main-container {
  position: relative;
  left: 240px;
  top: 88px;

  background-color: #dadada35;

  min-width: calc(100% - 240px - 80px);
  max-width: calc(100% - 240px - 80px);

  min-height: 50vw;
  
  padding: 32px;
  margin: 0 16px 16px 0;

  border-radius: 32px;
  transition: 0.3s;
  z-index: 0;
}

.main-container-menu-is-close {
  min-width: calc(100% - 80px - 92px);
  max-width: calc(100% - 80px - 92px);
  left: 92px;
  transition: 0.3s;
}
