/* Página */
.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #b0c8d77c, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Card */
.login-card {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease;
}

/* Header */
.login-header {
  text-align: left;
  margin: 12px 0 24px 0;
}

.login-card .erros {
  display: block;
  padding: 12px 24px;
  margin-bottom: 16px;
  background: rgba(255, 0, 0, 0.238);
  border: solid 2px rgb(187, 115, 115);
  border-radius: 16px;
  color :rgb(111, 48, 48);
}

.login-header h1 {
  font-size: 28px;
  font-weight: 600;
  color: #525252;
}

.login-header p {
  margin-top: 8px;
  font-size: 14px;
  color: #6b7280;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Footer */
.login-footer {
  margin-top: 24px;
  text-align: left;
  font-size: 12px;
  color: #9ca3af;
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .login-card {
    padding: 24px;
  }

  .login-header h1 {
    font-size: 24px;
  }
}
