.container-table-footer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 8px 24px;
  background-color: #d9d9d980;
  border-radius: 0 0 24px 24px;
  transition: .2s;
  position: relative;
  font-size: 13px;
}

.badge-info-footer{
  background-color: #d9d9d9;
  padding: 2px 4px;
  border-radius: 40px;
  border: solid 1px #00000020;
}