.container-custom-select{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;
}

.container-custom-select select{
    width: 100%;
    padding: 8px 12px;
    border: 2px solid #d9d9d9;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}