.container-table-header {
  display: grid;
  gap: 12px;
  align-items: center;
  padding: 16px 24px;
  background-color: #d9d9d980;
  border-radius: 24px 24px 0 0;
  transition: .2s;
  position: relative;
}

.inner-col-header-table-content{
    max-width: max-content;
    border-radius: 0px 10px 10px 0;
    color: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
}

.sort-button-table-header{
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.sort-button-table-header:hover{
  opacity: .5;
}

.sort-button-table-header-active{
  transform: rotate(180deg);
}