.easy-link-with-icon {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.easy-link-with-icon:hover {
  opacity: 0.5;
}

.easy-link-with-icon-success {
  background-color: var(--success);
}

.easy-link-with-icon-warning {
  background-color: var(--warning);
}

.easy-link-with-icon-danger {
  background-color: var(--danger);
}
.easy-link-with-icon-info {
  background-color: var(--info);
}
