.easy-modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #00000040;
  width: 100%;
  height: 100%;
}

.easy-modal-container .easy-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 16px;
  width: 500px;
  height: max-content;
  border-radius: 32px;

  background-color: #fff;

  overflow: hidden;
}

.easy-modal-container .easy-modal-content .easy-modal-title {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.easy-modal-container .easy-modal-content .easy-modal-color {
  width: 100%;
  height: 6px;

  position: absolute;
}

.easy-modal-container .easy-modal-content .easy-modal-info-content {
  text-align: center;
  opacity: 0.8;
  padding: 0 24px;
}

.easy-modal-container .easy-modal-content .easy-modal-title .easy-modal-icon {
  position: relative;
  height: 50px;
  margin-bottom: 12px;
}

.easy-modal-container
  .easy-modal-content
  .easy-modal-title
  .easy-modal-icon
  svg {
  position: absolute;
  top: 13px;
  left: -12px;
}

/*BG ICON*/
.easy-modal-container
  .easy-modal-content-success
  .easy-modal-title
  .easy-modal-icon
  .bg {
  background-color: var(--success);
  width: 50px;
  left: -25px;
  height: 50px;
  position: absolute;
  opacity: 0.2;
  border-radius: 100px;
}

.easy-modal-container
  .easy-modal-content-danger
  .easy-modal-title
  .easy-modal-icon
  .bg {
  background-color: var(--danger);
  width: 50px;
  left: -25px;
  height: 50px;
  position: absolute;
  opacity: 0.2;
  border-radius: 100px;
}

.easy-modal-container
  .easy-modal-content-warning
  .easy-modal-title
  .easy-modal-icon
  .bg {
  background-color: var(--warning);
  width: 50px;
  left: -25px;
  height: 50px;
  position: absolute;
  opacity: 0.2;
  border-radius: 100px;
}

.easy-modal-container
  .easy-modal-content-info
  .easy-modal-title
  .easy-modal-icon
  .bg {
  background-color: var(--accent-color);
  width: 50px;
  left: -25px;
  height: 50px;
  position: absolute;
  opacity: 0.2;
  border-radius: 100px;
}
/*FIM*/

.easy-modal-container .easy-modal-content .easy-modal-title {
  font-size: 24px;
  font-weight: 500;
}

.easy-modal-container .easy-modal-content .easy-modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.easy-modal-container .easy-modal-content .easy-modal-actions button {
  border: none;
  outline: none;

  font-size: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

.easy-modal-container .easy-modal-content .easy-modal-actions button:hover {
  opacity: 0.5;
}

.easy-modal-container
  .easy-modal-content
  .easy-modal-actions
  .easy-modal-action-cancel {
  border: solid 2px #d9d9d9;
  background-color: #fff;
}

/*BTNS*/
.easy-modal-container
  .easy-modal-content-success
  .easy-modal-actions
  .easy-modal-action-confirm {
  background-color: var(--success);
  color: #fff;
}

.easy-modal-container
  .easy-modal-content-danger
  .easy-modal-actions
  .easy-modal-action-confirm {
  background-color: var(--danger);
  color: #fff;
}

.easy-modal-container
  .easy-modal-content-warning
  .easy-modal-actions
  .easy-modal-action-confirm {
  background-color: var(--warning);
  color: #fff;
}

.easy-modal-container
  .easy-modal-content-info
  .easy-modal-actions
  .easy-modal-action-confirm {
  background-color: var(--accent-color);
  color: #fff;
}
/*FIM*/

/*SVG TITLE*/
.easy-modal-container
  .easy-modal-content-success
  .easy-modal-title
  .easy-modal-icon
  svg {
  fill: var(--success);
}

.easy-modal-container
  .easy-modal-content-danger
  .easy-modal-title
  .easy-modal-icon
  svg {
  fill: var(--danger);
}

.easy-modal-container
  .easy-modal-content-warning
  .easy-modal-title
  .easy-modal-icon
  svg {
  fill: var(--warning);
}

.easy-modal-container
  .easy-modal-content-info
  .easy-modal-title
  .easy-modal-icon
  svg {
  fill: var(--accent-color);
}
/*FIM*/

.easy-modal-container .easy-modal-content-success .easy-modal-color {
  background-color: var(--success);
}

.easy-modal-container .easy-modal-content-danger .easy-modal-color {
  background-color: var(--danger);
}

.easy-modal-container .easy-modal-content-warning .easy-modal-color {
  background-color: var(--warning);
}

.easy-modal-container .easy-modal-content-info .easy-modal-color {
  background-color: var(--accent-color);
}
