.easy-button-primary {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  max-width: max-content;
}

.easy-button-primary:hover {
  opacity: 0.5;
}

.easy-button-primary-success {
  background-color: var(--success);
}

.easy-button-primary-outlined {
  background-color: transparent !important;
  border: solid 2px #d9d9d9;
  padding: 8px 20px;
  color: var(--color);
}

.disabled-false {
  background-color: #00000030;
  cursor: not-allowed;
  pointer-events: none;
}
