.header-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: end;
  align-items: center;

  width: calc(100% - 64px);
  padding: 24px;
  margin: 0;
  gap: 16px;
  background-color: #fff;
  z-index: 99;
}

.header-container p{
    font-size: 14px;
    opacity: .5;
}

.header-container p span{
    background-color: #d9d9d940;
    padding: 3px 7px;
    border-radius: 5px;
    border: solid 1px #ccc
}

.header-btn-person-icon{
  background-color: #d9d9d930;
  padding: 5px 5px 2px 5px;
  border-radius: 10px;
}

.header-btn-logout-icon{
  background-color: var(--accent-color);
  padding: 5px 5px 2px 5px;
  border-radius: 10px;
}

.header-btn-logout-icon svg{
  fill: #fff
}

.header-btn-icon:hover {
  opacity: .5;
  cursor: pointer;
}