.box-dashboad {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #00000005;
  padding: 24px;
  border-radius: 24px;
  max-height: max-content;
}

.box-dashboad h2{ 
  font-size: 32px;
}